/*--------------------- Typography ----------------------------*/

@font-face {
    font-family: 'aller-light';
    src: url('fonts/aller-light.eot');
    src: url('fonts/aller-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller-light.woff') format('woff'),
         url('fonts/aller-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aller-bold';
    src: url('fonts/aller-bold.eot');
    src: url('fonts/aller-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/aller-bold.woff') format('woff'),
         url('fonts/aller-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-black';
    src: url('fonts/roboto-black.eot');
    src: url('fonts/roboto-black.eot?#iefix') format('embedded-opentype'),
         url('fonts/roboto-black.woff') format('woff'),
         url('fonts/roboto-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*--------------------- Layout ----------------------------*/

.container {
  width    : 960px;
  margin   : 0 auto;
  overflow : hidden;
}

.page {
  width       : 700px;
  padding     : 30px 100px;
  margin      : 30px;
  background  : #fff;
  font-size   : 20px;
  line-height : 26px;
}

.page p {
  color  : #30404f;
  margin : 26px 0;
}

ul.sections {
  list-style : none;
  padding    :0 0 5px 0;;
  margin     :0;
}

.page li p {
  margin: 12px 0;
}


/*--------------------- Custom Styles ----------------------------*/

.page > table td,th {
  border  : 1px solid #EEE;
  padding : 10px 20px;
}


/*--------------------- Base Styles ----------------------------*/

body {
  font-family     : "aller-light";
  background      : #EEE;
  background-size : 322px;
  margin          : 0;
}

hr {
  height     : 1px;
  background : #ddd;
  border     : 0;
}

h1, h2, h3, h4, h5, h6 {
  color          : #112233;
  font-weight    : normal;
  font-family    : "roboto-black";
  line-height    : 1em;
  margin-top     : 50px;
}

h1 {
  text-transform : uppercase;
  margin         : 0;
  margin-top     : 20px;
  text-align     : center;
  }

h2 {
  font-size : 1.26em;
}

h1:after {
  content       : '';
  display       : block;
  border-bottom : 1px solid #999;
  margin        : 10px 100px 25px 100px;
}

a {
  color: #000;
}

b, strong {
  font-weight : normal;
  font-family : "aller-bold";
  }

blockquote {
  border-left : 5px solid #ccc;
  margin-left : 0;
  padding     : 1px 0 1px 1em;
}

.page blockquote p {
  font-family : Menlo, Consolas, Monaco, monospace;
  font-size   : 14px; line-height: 19px;
  color       : #999;
  margin      : 10px 0 0;
  white-space : pre-wrap;
}

/*---------------------- Syntax Highlighting -----------------------------*/

.page pre, tt, code {
  font-family : Menlo, Consolas, Monaco, monospace;
  font-size   : 12px;
  display     : inline-block;
  border      : 1px solid #EAEAEA;
  background  : #f8f8f8;
  color       : #555;
  padding     : 0 5px;
  line-height : 20px;
}

.page pre {
  margin     : 0;
  padding    : 10px 15px;
  background : #fcfcfc;
  overflow-x : auto;
}


td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

/*
Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/
*/

.page pre code {
  color      : #f8f8f2;
  border     : 0;
  padding    : 0;
  background : transparent;
}

.highlight pre, .page pre {
  font-size   : 16px;
  display                  : block;
  overflow-x               : auto;
  margin-left              : -100px;
  margin-right             : -100px;
  padding                  : 2em 10px 2em 100px;
  color                    : #f8f8f2;
  background               : #23241f;
  -webkit-text-size-adjust : none;
}

.hljs,
.hljs-tag,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.hljs-name,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}