<!DOCTYPE html>

<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <% for (var i = 0; i < css.length; i++) { %>
    <link rel="stylesheet" media="all" href="<%= css[i] %>" />
  <% } %>
</head>
<body>
  <div class="container">
    <div class="page">

      <% for (var i = 0, l = sections.length; i<l; i++) { %>
        <% var section = sections[i]; %>
        <%= section.docsHtml %>
        <% if (!(/^\s*$/).test(section.codeText)) { %>
          <%= section.codeHtml %>
        <% } %>
      <% } %>

    </div>
  </div>
</body>
</html>
